.footerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-bottom: 20px;

    .gridContainer {
        padding: 20px;
    }

    .socialsTitle {
        width: 100%;
        text-align: center;
    }

    .link {
        .linkIcon {
            margin-right: 10px;
        }
    }
}