@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');
@import url("https://use.typekit.net/wwa7bdp.css");

body {
    background-color: #131416;
}

.pageContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    flex: 1;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 64px;

    .toolbarLogoLink {
        text-decoration: none;
        color: inherit;
    }

    .title {
        flex-grow: 1;
        font-family: shabby-chic,sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    
    .welcome {
        font-family: 'Quicksand';
    }

    .welcomeContainer {
        width: 100%;
        margin-top: 100px;
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
    }

    /* .content {
        flex-grow: 1;
    } */
}

.bgImage {
    z-index: -1;
    &::before {
        background-image: url("./Images/MrPewPewLaser@2x.png");
        content: "";
        position: fixed;
        background-attachment: scroll;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        filter: blur(4px);
        margin: -10px;
    }
}

